<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_anonymous %}
                    <li>
                        <a href="{% url "login" %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url "signup" %}">Signup</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url "list_accounts" %}">Account List</a>
                    </li>
                    <li>
                        <a href="{% url "create_account" %}">Create Account</a>
                    </li>
                    <li>
                        <a href="{% url "list_categories" %}">Category List</a>
                    </li>
                    <li>
                        <a href="{% url "create_category" %}">Create Category</a>
                    </li>
                    <li>
                        <a href="{% url "home" %}">Receipt List</a>
                    </li>
                    <li>
                        <a href="{% url "create_receipt" %}">Create Receipt</a>
                    </li>
                    <li>
                        <a href="{% url "logout" %}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
