{% extends "base.html" %}
{% block content %}
  <main>
    <h1>My Expense Categories</h1>
    <p>
        <a href="{% url "create_category" %}">Create Category</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expense_category in expensecategory_list %}
                <tr>
                    <td>{{expense_category.name}}</td>
                </tr>
                <tr>
                    <td>{{expense_category.receipts.all|length}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
  </main>
{% endblock content %}
