{% extends "base.html" %}
{% block content %}
<main>
    <div>
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            <ul>
                <label for="username">Username:</label>
                <input type="text" name="username">
            </ul>
            <ul>
                <label for="password1">Password</label>
                <input type="password" name="password1">
            </ul>
            <ul>
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2">
            </ul>
            <ul>
                <button>Signup</button>
            </ul>
        </form>
    </div>
</main>
{% endblock content %}
